.objprint-window{
	font-family:monospace;
}

.objprint-line
,.objprint-bracket{
	margin:0;
}

.objprint-name{
	transition:background-color .1s,color .1s;
}

.objprint-number
,.objprint-string{
	
}

.objprint-element
,.objprint-function
,.objprint-null
,.objprint-undefined{
	font-style:italic;
}

.objprint-parameter{
	font-style:normal;
}


/* The explanation, placed outside of the main text window */
.objprint-explanation{
	font-family:monospace;
	background-color:#000;
	color:#fff;
	padding:.25em;
}

/* The currently selected item */
.objprint-study{
	background-color:#000;
	color:#fff;
}

/* The design of elements you can select */
.objprint-window [data-select="true"]{
	font-weight:bold;
}